<h1>Listando turmas</h1>

<table>
  <tr>
    <th>Semestre letivo</th>
    <th>Disciplina</th>
    <th>Professor</th>
    <th>Horário</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @turmas.each do |turma| %>
  <tr>
    <td><%= turma.semestre_letivo %></td>
    <td><%= turma.disciplina.nome %></td>
    <td><%= turma.professor.nome %></td>
    <td><%= turma.horario.strftime("%H:%M") %></td>
    <td><%= link_to 'Mostrar', turma %></td>
    <td><%= link_to 'Editar', edit_turma_path(turma) %></td>
    <td><%= link_to 'Excluir', turma, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Turma', new_turma_path %>

