<h1>Áreas de Conhecimento</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @area_de_conhecimentos.each do |area_de_conhecimento| %>
  <tr>
    <td><%= area_de_conhecimento.name %></td>
    <td><%= link_to 'Exibir', area_de_conhecimento %></td>
    <td><%= link_to 'Editar', edit_area_de_conhecimento_path(area_de_conhecimento) %></td>
    <td><%= link_to 'Excluir', area_de_conhecimento, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Área de Conhecimento', new_area_de_conhecimento_path %>

