<p id="notice"><%= notice %></p>

<p>
  <b>Dia da semana:</b>
  <%= @horario.dia_da_semana %>
</p>

<p>
  <b>Hora de início:</b>
  <%= @horario.hora_de_inicio.strftime '%H:%M' %>
</p>

<p>
  <b>Hora de fim:</b>
  <%= @horario.hora_de_fim.strftime '%H:%M' %>
</p>


<%= link_to 'Editar', edit_horario_path(@horario) %> |
<%= link_to 'Voltar', horarios_path %>

