<script type='text/javascript'>
jQuery(function($){
   $("#aluno_data_de_nascimento").mask("99/99/9999");
   $("#aluno_data_de_expedicao_do_rg").mask("99/99/9999");
   $("#aluno_data_de_emissao_do_titulo_de_eleitor").mask("99/99/9999");
   $("#aluno_data_de_emissao_do_certificado_de_reservista").mask("99/99/9999");

});
</script>

<%= semantic_form_for(@aluno) do |f| %>
<fieldset>
    <legend> Dados Pessoais </legend>
    <%= f.input :nome , :label => 'Nome' %>
    <%= f.input :email, :label => 'E-mail' %>
    <fieldset>
    <legend> Filiação</legend>
        <%= f.input :pai, :label => 'Pai' %>
        <%= f.input :mae, :label => 'Mãe' %>
    </fieldset>
    <%= f.input :data_de_nascimento, :label => 'Data de nascimento' , :as => :string, :input_html => {:size => 8} %>
    <%= f.input :sexo, :collection => Aluno::SEXO %>
    <%= f.input :nacionalidade %>
    <%= f.input :naturalidade , :collection => option_estados_for_select%>
    <%= f.input :estado_civil, :collection => Aluno::ESTADO_CIVIL, :label => "Estado civil" %>
</fieldset>
 <fieldset>
    <legend> Documentação</legend>
    <%= f.input :cpf, :input_html => {:size => 11} %>
    <fieldset>
    <legend> RG </legend>
      <%= f.input :rg, :input_html => {:size => 9} %>
      <%= f.input :orgao_emissor_do_rg %>
      <%= f.input :estado_do_rg, :label => 'Estado do rg', :collection => option_estados_for_select %>
      <%= f.input :data_de_expedicao_do_rg , :as => :string, :input_html => {:size => 7} %>
   </fieldset>
   <fieldset>
    <legend> Titulo de Eleitor </legend>
      <%= f.input :numero_do_titulo_de_eleitor, :input_html => {:size => 12} %>
      <%= f.input :zona_do_titulo_de_eleitor, :input_html => {:size => 3} %>
      <%= f.input :secao_do_titulo_de_eleitor, :input_html => {:size => 4} %>
      <%= f.input :estado_do_titulo_de_eleitor, :collection => option_estados_for_select %>
      <%= f.input :data_de_emissao_do_titulo_de_eleitor , :as => :string, :input_html => {:size => 8} %>
  </fieldset>
   <fieldset>
    <legend> Certificado de Reservista </legend>
    <%= f.input :numero_do_certificado_de_reservista, :input_html => {:size => 6}  %>
    <%= f.input :orgao_do_certificado_de_reservista, :label => "Orgão do Certificado de Reservista" %>
    <%= f.input :categoria_do_certificado_de_reservista, :input_html => {:size => 1} %>
    <%= f.input :data_de_emissao_do_certificado_de_reservista , :as => :string, :input_html => {:size => 8} %>
    <%= f.input :estado_do_certificado_de_reservista, :collection => option_estados_for_select  %>
  </fieldset>
 </fieldset>
  <fieldset>
   <legend>Formações</legend>
        <%= link_to 'Nova Formação', :controller => "formacoes",
                                 :action => "new",
                                 :aluno => @aluno %>
 </fieldset>


  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>

