<p id="notice"><%= notice %></p>

<fieldset>
  <legend>Dados Pessoais</legend>
    <p>
      <b>Nome:</b>
      <%= @aluno.nome %>
    </p>

    <p>
      <b>E-mail:</b>
      <%= @aluno.email %>
    </p>

      <p><b>Filiação</b></p>
      <p>
        <b>Pai:</b>
        <%= @aluno.pai %>
      </p>

      <p>
        <b>Mãe:</b>
        <%= @aluno.mae %>
      </p>

    <p>
      <b>Data de nascimento:</b>
      <%= @aluno.data_de_nascimento.to_s_br %>
    </p>

    <p>
      <b>Sexo:</b>
      <%= @aluno.sexo %>
    </p>

    <p>
      <b>Nacionalidade:</b>
      <%= @aluno.nacionalidade %>
    </p>

    <p>
      <b>Naturalidade:</b>
      <%= @aluno.naturalidade %>
    </p>

    <p>
      <b>Estado civil:</b>
      <%= @aluno.estado_civil %>
    </p>
</fieldset>

<fieldset>
  <legend>Documentação</legend>
    <p>
      <b>CPF:</b>
      <%= @aluno.cpf %>
    </p>
  <fieldset>
  <legend>RG</legend>
      <p>
        <b>RG:</b>
        <%= @aluno.rg %>
      </p>

      <p>
        <b>Orgão Emissor do RG:</b>
        <%= @aluno.orgao_emissor_do_rg %>
      </p>

      <p>
        <b>Estado do RG:</b>
        <%= @aluno.estado_do_rg %>
      </p>

      <p>
        <b>Data de Expedição do RG:</b>
        <%= @aluno.data_de_expedicao_do_rg.to_s_br %>
      </p>
  </fieldset>

<fieldset>
  <legend>Título de Eleitor</legend>
      <p>
        <b>Número do Título de Eleitor:</b>
        <%= @aluno.numero_do_titulo_de_eleitor %>
      </p>

      <p>
        <b>Zona do Título de Eleitor:</b>
        <%= @aluno.zona_do_titulo_de_eleitor %>
      </p>

      <p>
        <b>Seção do Título de Eleitor:</b>
        <%= @aluno.secao_do_titulo_de_eleitor %>
      </p>

      <p>
        <b>Estado do Título de Eleitor:</b>
        <%= @aluno.estado_do_titulo_de_eleitor %>
      </p>

      <p>
        <b>Data de Emissão do Título de Eleitor:</b>
        <%= @aluno.data_de_emissao_do_titulo_de_eleitor.to_s_br %>
      </p>
  </fieldset>

  <fieldset>
  <legend>Certificado de Reservista</legend>
      <p>
        <b>Número do Certificado de Reservista:</b>
        <%= @aluno.numero_do_certificado_de_reservista %>
      </p>

      <p>
        <b>Orgão do Certificado de Reservista:</b>
        <%= @aluno.orgao_do_certificado_de_reservista %>
      </p>

      <p>
        <b>Categoria do Certificado de Reservista:</b>
        <%= @aluno.categoria_do_certificado_de_reservista %>
      </p>

      <p>
        <b>Data de Emissão do Certificado de Reservista:</b>
        <%= @aluno.data_de_emissao_do_certificado_de_reservista.to_s_br %>
      </p>

      <p>
        <b>Estado do Certificado de Reservista:</b>
        <%= @aluno.estado_do_certificado_de_reservista %>
      </p>
  </fieldset>
  <fieldset>
   <legend>Formações</legend>
	  <p>
        <% @aluno.formacoes.each do |f| %>
            <%=  "Tipo: #{f.tipo} " %>
            <br>
            <%= "Instituição: #{f.instituicao}" %>
             <td><%= link_to 'Mostrar', f %></td>
             <%= link_to 'Apagar', f, :confirm => 'Tem certeza?', :method => :delete %>
             <br> <br>

               <% end %>
      </p>

		<%= link_to 'Nova Formação', :controller => "formacoes",
		                                 :action => "new",
		                                 :aluno => @aluno %>
 </fieldset>

<fieldset>
	<legend>Turmas em que está matriculado</legend>

		<% @aluno.turmas.each do |turma| %>
			<p><%= link_to "#{turma.disciplina.nome} - #{turma.disciplina.codigo} #{turma.codigo}", turma %></p>
		<% end %>
	
		<br />
	<%= link_to 'Matricular aluno em turmas', matricular_em_turma_aluno_path(@aluno) %>
</fieldset>

<%= link_to 'Editar', edit_aluno_path(@aluno) %> |
<%= link_to 'Voltar', alunos_path %>

