<script type='text/javascript'>
jQuery(function($){
   $("#data_da_prova_do_ingresso").mask("99/99/9999");

});
</script>


<%= semantic_form_for(@dados_academico) do |f| %>
  <% if @dados_academico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dados_academico.errors.count, "error") %> prohibited this dados_academico from being saved:</h2>

      <ul>
      <% @dados_academico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
    <legend> Dados </legend>
    <%= f.input :matricula , :label => 'Matrícula' %>
    <%= f.input :curso, :label => 'Curso', :collection => Curso.all.map {|c| c.nome } %>
    <%= f.input :semestre, :label => 'Semestre', :input_html => {:size => 2} %>
    <%= f.input :forma_de_ingresso, :label => 'Forma de Ingresso', :collection => DadosAcademico::FORMA_DE_INGRESSO %>
    <%= f.input :data_da_prova_do_ingresso , :label => 'Data do vestibular/ENEM', :as => :string, :input_html => {:size => 8} %>
    <fieldset>
    <%= f.input :cotista , :label => 'Cotista', :in => [true, false] %>
    <%= f.input :tipo_de_cota , :label => 'Tipo de cota', :collection => DadosAcademico::TIPO_DE_COTA %>
    </fieldset>
    <%= f.input :link_do_lattes , :label => 'Link do Curriculum Lattes', :input_html => {:size => 100} %>
    <div class="actions">
    <%= f.submit 'Salvar' %>
    </div>
    </fieldset>
<% end %>

