<%= semantic_form_for(@curso) do |f| %>
	<%= f.inputs do %>
		<%= f.input :nome, :label => 'Nome' %>
		<%= f.input :sigla, :label => 'Sigla' %>
		<%= f.input :laboratorio, :as => :select, :label => 'Laboratório', :collection => @laboratorios %>
		<%= f.input :duracao, :label => 'Duração' %>
		<%= f.input :professor, :as => :select, :label => 'Coordenador', :collection => @professores %>
	  	<%= f.input :area_de_conhecimentos, :as => :check_boxes, :collection => AreaDeConhecimento.all %>
   	<%= link_to 'Nova Area de Conhecimento', new_area_de_conhecimento_path %>
	<% end %>
  <div class="actions">
    <%= f.submit 'Salvar'%>
  </div>
<% end %>

