<h1>Cursos</h1>

<table>
  <tr id="nav">
    <th>Nome</th>
    <th>Sigla</th>
    <th>Laboratório</th>
	  <th>Duração</th>
	  <th>Coodenador</th>
    <th>Áreas de Conhecimento</th>
	<th></th>
	<th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr class="campo" onclick="window.location = '<%= curso_path(curso) %>'">
    <td><%= curso.nome %></td>
    <td><%= curso.sigla %></td>
    <td><%= curso.laboratorio.sigla %></td>
    <td><%= curso.duracao %></td>
	 <td><%= curso.professor.nome %></td>
	<td> 
	<% curso.area_de_conhecimentos.map do |area_de_conhecimento| %>
		<%= "#{area_de_conhecimento.name}" %><br />
    <% end %>
   </td>
    <td><%= link_to 'Editar', edit_curso_path(curso) %></td>
    <td><%= link_to 'Excluir', curso, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Curso', new_curso_path %> | 
<%= link_to 'Nova área de conhecimento', new_area_de_conhecimento_path %>

