<%= semantic_form_for(@formacao) do |f| %>
  <%= f.inputs do %>
    <%= f.input :instituicao, :label => 'Instituição' %>
    <%= f.input :tipo, :collection => Formacao::TIPOS %>
    <%= f.input :ano_de_inicio, :label => 'Ano de Início', :input_html => {:size => 4, :maxlength => 4} %>
    <%= f.input :ano_de_conclusao, :label => 'Ano de Conclusão', :input_html => {:size => 4, :maxlength => 4} %>
    <%= f.input :area_de_conhecimento, :label => 'Área de Conhecimento' %>
    <%= f.input :titulo_trabalho_de_conclusao, :label => 'Título do Trabalho de Conclusão', :hint => 'Apenas para graduação e pós graduação.'%>
    <%= f.input :orientador, :label => 'Orientador', :hint => 'Apenas para graduação e pós graduação.'%>

    <% if @formacao.aluno  %>
      <%= f.hidden_field 'aluno_id' %>
    <% else %>
        <p><%= f.label :aluno_id %><br />
        <%= f.collection_select(:aluno_id,
        Aluno.order('nome'),:id, :nome, {:prompt => true}) %></p>
    <% end %>

  <% end %>
  <div class="actions">

    <%= f.submit 'Salvar' %>
  </div>
<% end %>

