<h1>Laboratórios</h1>

<table>
  <tr>
    <th>Centro</th>
    <th>Sigla</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @laboratorios.each do |laboratorio| %>
  <tr>
    <td><%= laboratorio.centro.sigla %></td>
    <td><%= laboratorio.sigla %></td>
    <td><%= laboratorio.nome %></td>
    <td><%= link_to 'Exibir', laboratorio %></td>
    <td><%= link_to 'Editar', edit_laboratorio_path(laboratorio) %></td>
    <td><%= link_to 'Excluir', laboratorio, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

