<fieldset>

	<p id="notice"><%= notice %></p>

	<p>
	  <b>Nome:</b>
	  <%= @laboratorio.nome %>
	</p>

	<p>
	  <b>Sigla:</b>
	  <%= @laboratorio.sigla %>
	</p>

	<p>
		<b>Centro:</b>
		<%= @laboratorio.centro.nome %>
	</p>

  <fieldset>

  <legend>Disciplina</legend>
 	    <%= link_to 'Nova Disciplina', :controller => "disciplinas",
                                      :action => "new",
                                      :laboratorio => @laboratorio%>
 </fieldset>

	<%= link_to 'Editar', edit_laboratorio_path(@laboratorio) %> |
	<%= link_to 'Voltar', laboratorio_path %>

</fieldset>

