<%= semantic_form_for(@centro) do |f| %>
	<%= f.inputs do %>
		<%= f.input :nome, :label => 'Nome' %>
		<%= f.input :sigla, :label => 'Sigla' %>
	<%end%>
  <div class="actions">
    <%= f.submit 'Salvar'%>
  </div>
<% end %>

