<fieldset>

<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @centro.nome %>
</p>

<p>
  <b>Sigla:</b>
  <%= @centro.sigla %>
</p>

<fieldset>
   <legend>Laboratórios</legend>
        <% @centro.laboratorios.each do |laboratorio| %>
            <%= link_to "#{laboratorio.nome} - #{laboratorio.sigla}", laboratorio %>
        <% end %>
		 <br /><br />
		
		<%= link_to 'Novo Laboratório', :controller => "laboratorios",
		                                 :action => "new",
		                                 :centro => @centro %>
</fieldset>


<%= link_to 'Editar', edit_centro_path(@centro) %> |
<%= link_to 'Voltar', centros_path %>

</fieldset>