<!DOCTYPE html>
<html>
<head>
  <title>Sistema Acadêmico - UENF</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults,'jquery.maskedinput' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="topo">
		<h1>Sistema Acadêmico</h1>
		<div id="menu">
			<%= link_to 'Alunos', alunos_path %>
			<%= link_to 'Professores', professores_path %>
			<%= link_to 'Dados acadêmicos', dados_academicos_path %>
			<%= link_to 'Centros', centros_path %>
			<%= link_to 'Laboratórios', laboratorios_path %>
			<%= link_to 'Disciplinas', disciplinas_path %>
			<%= link_to 'Turmas', turmas_path %>
			<%= link_to 'Cursos', cursos_path %>
		</div>
	</div>
	
	<div id="main">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, :class => "aviso") %>
		<% end %>
		
		<%= yield %>
	</div>
	<div id="footer">UENF - 2011</div>
</body>
</html>

